<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateFile</servlet-name>
        <servlet-class>servlet.CreateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFiles</servlet-name>
        <servlet-class>servlet.GetFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFileData</servlet-name>
        <servlet-class>servlet.GetFileData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Save</servlet-name>
        <servlet-class>servlet.Save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Run</servlet-name>
        <servlet-class>servlet.Run</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFile</servlet-name>
        <url-pattern>/CreateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFiles</servlet-name>
        <url-pattern>/GetFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFileData</servlet-name>
        <url-pattern>/GetFileData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Run</servlet-name>
        <url-pattern>/Run</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
